.img-300{
    width: 200px;
    height: 200px;
}

#search {
    background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
    background-size: 24px;
    width: 100%;
    max-width: 500px;
    border: transparent;
    border-bottom: solid 1px #ccc;
    padding: 10px 10px 10px 30px;
    outline: none;
  }
  
  /* Responsivo: cuando el ancho de la pantalla es menor a 768px */
  @media (max-width: 768px) {
    #search {
      width: 90%; 
      max-width: none; 
    }
  }
  

  @media (max-width: 480px) {
    #search {
      width: 85%; 
    }
  }
